body{
  padding: 60px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-align: center;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow:hidden;
  margin: 5px;  
  width: 300px;
}

.card p{
  text-align: center;
}

.card img{
  height: 300px;
  width: 300px;
}

input{
  width: 100%;
  font-size: 1.3em;
  border-radius: 6px;
  padding:3px;
}

